<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KinoGo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AF26CE211BE0E2DA001DF7D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF26CE3A1BE0E2DC001DF7D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF26CE451BE0E2DC001DF7D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF7274B61BE1070B00EF996D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
